/* Import Google Font Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    /* Variables */
    --heading-one-color: rgba(255, 255, 255, 1);
    --input-border-color: #E5E7EB;
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;   
    margin: 0; 
    padding: 0;
}

.page-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.left-background-image-container {
    background-image: url(./images/background-image.jpg);
    z-index: 1;
    /* Need to fix img size potentially */

}

.logo-container {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    top: 25%;
    height: 90px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
}

.logo-sidebar-img {
    height: 90%;
    width: 75px;
}

h1 {
    color: var(--heading-one-color);
    font-size: 2.5em;
}

.right-information-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--input-border-color);
}

.top-third-information-container-header {
    display: flex;
    padding: 1rem;
    flex-flow: column;
    justify-content: flex-end;
}

.mid-third-information-container-form {
    background-color: white;
    padding: 1rem;
}

.bottom-third-information-container-signup {
    background-color: var(--input-border-color);
    padding: 1rem;
}